<%= form_for @cluster_assign do |f| %>

  <div class="form-group">
    <%= f.date_select :day, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Generate pairs", class: "btn btn-primary" %>
  </div>
<% end %>
