<%= form_for @cluster_assign do |f| %>
  <div class="form-group">
    <label>Select a date from the calendar</label>
    <br>
    <%= f.text_field :day, placeholder: 'Select a date' %>
  </div>

  <div class="actions">
    <%= f.submit "Generate pairs", class: "btn btn-primary" %>
  </div>
<% end %>


<script>
  $(function() {

    // $('#cluster_day').multiDatesPicker({
    //   dateFormat: 'dd-mm-yy'
    // });
    //
    $('#cluster_day').datepicker({
      dateFormat: 'dd-mm-yy'
    });

    });
</script>
