<%= form_tag '/clusters' do %>

  <div class="form-group">
    <%= text_field_tag :day, nil, placeholder: 'Please select some dates for pairs.', size: 50, id: "form-2" %>
  </div>

  <div class="actions">
    <%= submit_tag "Submit", id: "assign-matches", class: "btn btn-primary" %>
  </div>
<% end %>


<script>
  $(function() {
    $('#form-2').multiDatesPicker({
      dateFormat: 'dd-mm-yy'
    });
  });
</script>
