<%= form_tag do |f| %>

  <div class="form-group">
    <%= f.text_field :day, placeholder: "Select a date to see the matches of that day", size: 50, id: "form-1" %>
  </div>

  <div class="actions">
    <%= f.submit "Display matches of the day", id: "display-matches" , class: "btn btn-primary" %>
  </div>
<% end %>


<script>
  var dates_arr = getDates();

  $(function() {
    debugger;
    $('#form-2').multiDatesPicker({
      dateFormat: 'dd-mm-yy',
      // addDates: (dates_arr ? dates_arr : []),
      maxPicks: 1
    });
  });
</script>
