<%= form_tag '/clusters' do %>

  <div class="form-group">
    <%= text_field_tag :day, nil, placeholder: "Select a date to see the matches of that day", size: 50, id: "form-1" %>
  </div>

  <div class="actions">
    <%= submit_tag "Display matches of the day", id: "display-matches" , class: "btn btn-primary" %>
  </div>
<% end %>


<script>
  $(function() {
    $('#form-1').datepicker({
      dateFormat: 'mm-dd-yy'
    });
  });
</script>
