<h1>Your past matches</h1>
<% @pairs.each do |pair| %>
  <% next if pair.date.nil? || pair.date == Date.today %>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4><%= pair.date.strftime("%A %d %B %Y") %></h4>
    </div>

    <div class="panel-body">
      <table class="table table-striped">
              <tr>
                <td><%= pair.users[0].email %></td>
                <td><%= pair.users[1].email %></td>
              </tr>
      </table>
    </div>
  </div>
<% end %>
<%= link_to 'See match of the day', root_url, class: 'btn btn-warning' %>
