<button type="button" class="btn btn-default clickadyclick">Show dates</button>
<%= link_to 'Admin panel', users_index_path, class: 'btn btn-default text-right' %>
<br>
<br>
<div id="new-pair-form" style="display:none;">
  <%= render 'clusters/form' %>
</div>
<br>
<div class="today", data-date=<%= @date %>></div>
<div class='matches-for-day'>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Pairs for today</h3>
    </div>

    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
