/*
 * require mdp.css
 *= require jquery-ui/datepicker
 */



@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  max-width: 1200px;
}

.panel-primary > .panel-heading {
  background-color: lighten(Blue, 30%);
  border-color: lighten(Blue, 30%);
}
