/*
 * require mdp.css
 *= require jquery-ui/datepicker
 */



@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  max-width: 1200px;
}

.panel-primary > .panel-heading {
  background-color: #88bbee;
  border-color: #88bbee;
}
